<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<%= image_tag "Logo_ver3_1900x1687.png", class: "img-responsive logo" %>
		</div>
		<div class="col-xs-6 col-md-6 contact">
			<p><a href="mailto:dan85.cardenas@gmail.com?subject=Hello">Contact</a></p>
		</div>
	</div>
</div>
<div class="container product_display">
	<div class="row row1">
		<div class="col-xs-12 col-md-8 products">
			<%= image_tag "Girl Mariano Giant OG Skateboard 7.7inch_886x217.png", class: "img-responsive" %>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="buy">
				<h3>Girl</h3>
				<lead>Mariano Giant OG Deck</lead>

				<p><!-- Button trigger modal -->
					<a href="" data-toggle="modal" data-target="#myModal">
					  More info
					</a>
				</p>
				<%= render "modal" %>
				<p><strong>$55.00</strong></p>
				<%= link_to "Buy", "https://ondek.myshopify.com/cart/22859180545:1", target: "_blank", class: "btn btn-warning" %>
			</div>
		</div>
	</div>
	<div class="row row2"><hr>
		<div class="col-xs-12 col-md-8 products">
			<%= image_tag "Stereo Skateboards Reissue Pastras Snow Day 8.12inch_886x217.png", class: "img-responsive" %>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="buy">
				<h3>Stereo</h3>
				<lead>Reissue Pastras Snow Day</lead>
				<p><!-- Button trigger modal -->
				<a href="" data-toggle="modal" data-target="#myModal2">
				  More info
				</a></p>
				<%= render "modal" %>
				<p><strong>$55.00</strong></p>
				<%= link_to "Buy", "https://ondek.myshopify.com/cart/23835271041:1", target: "_blank", class: "btn btn-warning"  %>
			</div>
		</div>
	</div>
	<div class="row row3"><hr>
		<div class="col-xs-12 col-md-8 products">
			<%= image_tag "isle886x217.png", class: "img-responsive" %>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="buy">
				<h3>Isle</h3>
				<lead>Nick Jensen Artist Series</lead>
				<p><!-- Button trigger modal -->
					<a href="" data-toggle="modal" data-target="#myModal3">
					  More info
					</a>
				</p>
				<%= render "modal" %>
				<p><strong>$70.00</strong></p>

				<%= link_to "Buy", "https://ondek.myshopify.com/cart/25715971585:1", target: "_blank", class: "btn btn-warning" %>
			</div>
		</div>
	</div>
	<div class="row row4"><hr>
		<div class="col-xs-12 col-md-8 products">
			<%= image_tag "Primitive Skateboarding Nick Tucker Joy of Skateboarding 8.12inch_886x217.png", class: "img-responsive" %>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="buy">
				<h3>Primitive</h3>
				<lead>Nick Tucker Joy of Skateboarding</lead>
				<p><!-- Button trigger modal -->
					<a href="" data-toggle="modal" data-target="#myModal4">
					  More info
					</a>
				</p>
				<p><strong>$60.00</strong></p>
				<%= link_to "Buy", "https://ondek.myshopify.com/cart/25716277889:1", target: "_blank", class: "btn btn-warning" %>
			</div>
		</div>
	</div>
	<div class="row row5"><hr>
		<div class="col-xs-12 col-md-8 products">
			<%= image_tag "Plan B Skateboards Felipe Gustavo Royalty Skateboard 8.2inch_886x217.png", class: "img-responsive" %>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="buy">
				<h3>Plan B</h3>
				<lead>Felipe Gustavo Royalty</lead>
				<p><!-- Button trigger modal -->
					<a href="" data-toggle="modal" data-target="#myModal5">
					  More info
					</a>
				</p>
				<p><strong>$75.00</strong></p>
				<%= link_to "Buy", "https://ondek.myshopify.com/cart/25716465921:1", target: "_blank", class: "btn btn-warning" %>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 footer">
			<p>©2016 onDEK, Inc</p>
		</div>
	</div>
</div>